[Unit]
Description=Backyard Chirps -> update taxonomy and species list
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=backyardchirps
WorkingDirectory=/usr/lib/backyardchirps
EnvironmentFile=/var/lib/backyardchirps/.env
EnvironmentFile=/etc/default/backyardchirps
Environment=BACKYARDCHIRPS_DATA_DIR=/var/lib/backyardchirps
ExecStart=/usr/lib/backyardchirps/bin/manage update_species_data
StandardOutput=journal
StandardError=journal
